@page
@using CSCSProofOfConcept.Data
@model CSCSProofOfConcept.Pages.Projects.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Project</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Project.Name" class="control-label"></label>
                <input asp-for="Project.Name" class="form-control" aria-required="true"/>
                <span asp-validation-for="Project.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>

            @if (CacheData.InProgPrj != 1)
                {
                    <div class="form-group">
                        <label asp-for="Project.Item" class="control-label"></label>
                        <select asp-for="Project.ItemId" class="form-control" asp-items="@Model.ItemNameSL">
                            <option value="">-- Select an Item --</option>
                            <span asp-validation-for="Project.ItemId" class="text-danger"></span>
                        </select>
                    </div>
                }

            <div class="form-group">
                <label asp-for="Project.DistributionCenter" class="control-label"></label>
                <select asp-for="Project.DistributionCenterId" class="form-control" asp-items="@Model.DCNameSL">
                    <option value="">-- Select a Distribution Center --</option>
                    <span asp-validation-for="Project.DistributionCenterId" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Project.NewSpec" class="control-label"></label>
                <input asp-for="Project.NewSpec" class="form-control" />
                <span asp-validation-for="Project.NewSpec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.PrjPrice" class="control-label"></label>
                <input asp-for="Project.PrjPrice" class="form-control" />
                <span asp-validation-for="Project.PrjPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.FreightStrat" class="control-label"></label>
                <input asp-for="Project.FreightStrat" class="form-control" />
                <span asp-validation-for="Project.FreightStrat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
