@page
@model CSCSProofOfConcept.Pages.Projects.InitialCreateModel
@{
}

<form method="post">
    <div class="text-center">
        <h1 class="display-4">What kind of project would you like to make?</h1>
        <div style="display:flex; flex-direction:column;">
            <input type="submit" name="create" value="New" asp-route-type="1" class="btn btn-primary" />
            <input type="submit" name="create" value="Transition" asp-route-type="2" class="btn btn-primary" />
            <input type="submit" name="create" value="Delete" asp-route-type="3" class="btn btn-primary" />
        </div>
    </div>
</form>