html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.login-button {
    margin: auto;
    width: 20%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 12px;
    margin-right: 18px;
    margin-bottom: 9px;
    margin-top: 9px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-interior {
    padding: 2px 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.small-label {
    border-radius: 20px;
    padding: 5px;
    margin-left: 8px;
}

.small-text {
    font-size: 11px;
    font-weight: bold;
    margin: 3px
}

.new-prj {
    background-color: #ea9ff6
}

.transition-prj {
    background-color: #b5f3c1
}

.discontinue-prj {
    background-color: #ffd593
}

.stage-label {
    background-color: #e0e0e0;
    margin-top: 6px;
    border-radius: 12px;
    padding: 4px;
    margin-right: 5px;
    margin-bottom: 7px;
}

.stage-label-user {
    background-color: #e87e74;
    margin-top: 6px;
    border-radius: 12px;
    padding: 4px;
    margin-right: 5px;
    margin-bottom: 7px;
}

.stage-text {
    font-size: 14px;
    font-weight: bold;
    margin: 3px;
    margin-left: 8px;
    margin-right: 8px;
}

.element-body {
    font-size: 14px;
    margin: 3px;
    margin-left: 8px;
    margin-right: 8px;
}

.due-date-label {
    background-color: #e0e0e0;
    margin-top: 6px;
    border-radius: 12px;
    padding: 4px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 7px;
}

.due-date-label-over {
    background-color: #e87e74;
    margin-top: 6px;
    border-radius: 12px;
    padding: 4px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 7px;
}

.prj-button-container {
    background-color: #bcd9eb;
    margin-right: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 12px;
    transition: 0.3s;
}

.prj-button-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.prj-button {
    color: black;
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
}

.new-button {
    background-color: #9fe2ee;
    padding: 7px;
    border-radius: 12px;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.new-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.new-text {
    color: black;
    text-decoration: none;
    margin: 5px;
}

.detail-table {
    border: 2px solid;
    padding: 12px;
}