@page
@model CSCSProofOfConcept.Pages.DistributionCenters.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DistributionCenter.Id" />
            <div style="margin-top: 15px;" class="form-group">
<span class="text-danger">*</span>
                <label asp-for="DistributionCenter.Name" class="control-label"></label>
                <input style="margin-top: 10px;" asp-for="DistributionCenter.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="DistributionCenter.Name" class="text-danger"></span>
            </div>
            <div style="margin-top: 15px;" class="form-group">
                <label asp-for="DistributionCenter.Address" class="control-label"></label>
                <input style="margin-top: 10px;" asp-for="DistributionCenter.Address" class="form-control" />
                <span asp-validation-for="DistributionCenter.Address" class="text-danger"></span>
            </div>
            <div style="margin-top: 15px;" class="form-group">
                <label asp-for="DistributionCenter.NumTrucks" class="control-label"></label>
                <input style="margin-top: 10px;" asp-for="DistributionCenter.NumTrucks" class="form-control" />
                <span asp-validation-for="DistributionCenter.NumTrucks" class="text-danger"></span>
            </div>
            <div style="margin-top: 15px;" class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="display: flex; margin-top: 15px;">
    <div class="prj-button-container">
        <a class="prj-button" asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
